<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{%block titulo%}{%endblock%} </title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_base.css">
	<style> {%block style_css%}{%endblock%} </style>
</head>
<body>
	<section id="contenido">
		{%block contenido%}{%endblock%}
		<nav class="top-bar">
			<ul>
				<li><img src="{{STATIC_URL}}img/logo_1.png" height="70" width="70" /></li>
				<li class="bar-nav"><a href="/inicio">Inicio</a></li>
				<li class="bar-nav"><a href="/contacto">Contacto</a></li>
				<li class="bar-nav"><a href="/registro">Registro</a></li>
				<li class="bar-nav"><a href="/acceder">Acceder</a></li>
				<li class="bar-nav"><a href="/acercade">Acerca de</a></li>
				<li class="bar-nav"><a href="/archivo">Archivo</a></li>
			</ul>
		</nav>
		<header>
			{%block encabezado%}{%endblock%}
		</header>

		<div id="content">
			<div class="div-prueba"></div>
		</div>

		<footer id="piedepagina">
			{%block footer%}{%endblock%}
		</footer>
	</section>
</body>
</html>