<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{%block titulo%}{%endblock%} </title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style_base.css">
	<style> {%block style_css%}{%endblock%} </style>
</head>
<body>
	<header>
		{%block encabezado%}{%endblock%}
		<nav>
			<ul>
				<li href="/">Inicio</li>
				<li href="/acercade">Acerca de...</li>
				<li href="/contacto">Contacto</li>
			</ul>
		</nav>
	</header>
	<section class="contenido">
		{%block contenido%}{%endblock%}
	</section>
	<footer id="piedepagina">
		{%block footer%}{%endblock%}
	</footer>
</body>
</html>