<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> MultiServiciosMx {%block titulo%}{%endblock%} </title>
	<style> {%block style_css%}{%endblock%} </style>
</head>
<body>
	<header>
		{%block encabezado%}{%endblock%}
		<nav>
			<ul>
				<li href="/">Inicio</li>
				<li href="/acercade">Acerca de...</li>
				<li href="/contacto">Contacto</li>
			</ul>
		</nav>
	</header>
	<section class="contenido">
		{%block contenido%}{%endblock%}
	</section>
	<footer id="piedepagina">
		{%block footer%}{%endblock%}
	</footer>
</body>
</html>